
<%= form_with model: @task do |f| %>
 <h2> <div class="form-group">
	
    <%= f.text_field :note,class:"form-control",placeholder:"Note" %><br>
  </div></h2>
  <div class="form-group">
	
    <%= f.date_field :created_at,class:"form-control",placeholder: "Date" %><br>
  </div>
  <div class="field form-group">
    
    <%= f.date_field :completed_at,class:"form-control",placeholder:"Date" %><br>
  
    </div>
    <div class=" field form-group">
    
    <%= f.number_field :user_id,id: :task_user_id,class:"form-control",value: current_user.id,type: :hidden %>
    </div>
   
    <br/>
    <h2><div class="form-group" >
   <%= f.submit 'submit',class:'btn btn-primary  btn-lg' %> 
   </div></h2>
<% end %>