
<%= form_with model: @task do |f| %>
  <div class="form-group">
	
    <%= f.text_field :note,class:"form-control",placeholder:"Note" %><br>
  </div>
  <div class="form-group">
	
    <%= f.datetime_field :created_on,class:"form-control",placeholder:"Date" %><br>
  </div>
  <div class="field form-group">
    
    <%= f.datetime_field :completed_at,class:"form-control",placeholder:"Date" %><br>
  
    </div>
    <div class=" field form-group">
    
    <%= f.number_field :user_id,id: :task_user_id,class:"form-control",value: current_user.id,type: :hidden %>
    </div>
    <%= current_user.id%>
    <br/>
    <div class="form-group" >
   <%= f.submit 'submit',class:'btn btn-primary' %> 
   </div>
<% end %>