<p class="notice"><%= notice %></p>

<% if user_signed_in? %>
<div class="jumbotron">
<h2>        
<table class="table table-sm ">
 <thead class="thead-light">
    <tr >
      <th><h1>Todo lists</h1></th>
      <th colspan="2"></th>
    </tr>
  </thead>
  <h2> <tbody>  
    <tr> 
      
          <h1>  <% @tasks.each do |task| %></h1>
            <% if task.user == current_user %>
    <td><h2> <%= link_to task.note,task,class: 'link' %></td></h2>
      
    	
         <td><h2> <%= link_to '<i class="fa fa-pencil" aria-hidden="true"></i>'.html_safe, edit_task_path(task),class:'btn btn-primary btn-lg' %></h2></td>
         <td > <h2><%= link_to '<i class="fa fa-trash-o" aria-hidden="true"></i>'.html_safe, task_path(task), method: :delete, data: { confirm: "Are you sure?"} ,class:'btn btn-primary btn-lg' %></h2></td>
            <% end %>
   </tr>    
</h2>

              
    <% end %>
     
  
</tbody></h2>
</table></h2><br/>
<br/>
<div class="form text-left"> <%= link_to "New +",new_task_path(@task),class: 'btn btn-success btn-lg' %></div>


</div>
<% end %>

